# Skopiuj do .env i wpisz swoj klucz z https://console.byteplus.com/ark (API Key Management)
ARK_API_KEY=
# Opcjonalnie: ID modelu albo endpointu z zakladki Models w ModelArk
SEEDANCE_MODEL=dreamina-seedance-2-5-260628
ARK_BASE_URL=https://ark.ap-southeast.bytepluses.com/api/v3
